<mat-toolbar>
    Change Your Password
</mat-toolbar>
<form [formGroup]="changePasswordForm">
    <!-- content here -->
    <div fxLayout="row wrap" fxLayoutGap="5px">
        <div fxFlex="49" fxFlex.md="49" fxFlex.sm="100" fxLayout="column ">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User Name" formControlName="userName" />
                <mat-error *ngIf="!changePasswordForm.controls['userName'].valid && changePasswordForm.controls['userName'].touched">
                    User Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="49" fxFlex.md="49" fxFlex.sm="100" fxLayout="column ">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Old Password</mat-label>
                <input matInput placeholder="Old Password" formControlName="oldPassword" />
                <mat-error *ngIf="!changePasswordForm.controls['oldPassword'].valid && changePasswordForm.controls['oldPassword'].touched">
                    Old Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="49" fxFlex.md="49" fxFlex.sm="100" fxLayout="column ">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password" formControlName="newPassword" />
                <mat-error *ngIf="!changePasswordForm.controls['newPassword'].valid && changePasswordForm.controls['newPassword'].touched">
                    New Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="49" fxFlex.md="49" fxFlex.sm="100" fxLayout="column ">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Name" formControlName="conformPassword" />
                <mat-error *ngIf="!changePasswordForm.controls['conformPassword'].valid && changePasswordForm.controls['conformPassword'].touched && !changePasswordForm.controls['newPassword'].valid">
                    Confirm Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="changePasswordForm.controls['conformPassword'].errors && changePasswordForm.controls['newPassword'].valid">
                    Password and Confirm Password must be match.
                </mat-error>
            </mat-form-field>
        </div>

    </div>

    <div style="margin-left: 35%;">
        <button mat-raised-button color="primary" (click)="saveData()">Submit</button>
        <button mat-raised-button color="primary">Reset</button>
    </div>

</form>