<mat-toolbar *ngIf="isLoggedIn">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> Invoicing MST
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation" [@onSideNavChange]="sideNavState ? 'open' : 'close'" class="mat-elevation-z8">
        <mat-nav-list>
            <div *ngFor="let page of pages">
                <a *ngIf="!page.isSubmenu" class="menu-item primary-border-color" [routerLink]="[page.link]" [routerLinkActive]="['active', 'primary-background-color','white-color']" mat-list-item>
                    <mat-icon matTooltip="{{ page?.name }}" class="tooltip" [ngClass]="isRouteActive(page) ? 'white-color' : 'primary-color'" style="padding-right: 5px">{{ page?.icon }}
                    </mat-icon>
                    <span [ngClass]="isRouteActive(page) ? 'white-color' : 'primary-color'" [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }}</span>

                </a>
                <a *ngIf="page.isSubmenu" class="menu-item primary-border-color" [routerLink]="[page.link]" [routerLinkActive]="['active', 'primary-background-color','white-color']" mat-list-item>
                    <mat-icon matTooltip="{{ page?.name }}" class="tooltip" [ngClass]="isRouteActive(page) ? 'white-color' : 'primary-color'" style="padding-right: 5px">{{ page?.icon }}
                    </mat-icon>
                    <span [ngClass]="isRouteActive(page) ? 'white-color' : 'primary-color'" [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }}</span>
                    <button [@animateText]="linkText ? 'show' : 'hide'" style="margin-left: 100px;" mat-mini-fab (click)="page.showSubMenu = !page.showSubMenu">
                        <mat-icon *ngIf="page.showSubMenu">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="!page.showSubMenu">keyboard_arrow_up</mat-icon>
                    </button>
                </a>
                <mat-nav-list *ngIf="page.showSubMenu">
                    <div *ngFor="let page of page.children">
                        <a class="menu-item primary-border-color" [routerLink]="[page.link]" [routerLinkActive]="['active', 'primary-background-color','white-color']" mat-list-item>
                            <mat-icon matTooltip="{{ page?.name }}" class="tooltip" [ngClass]="isRouteActive(page) ? 'white-color' : 'primary-color'" style="padding-right: 5px">{{ page?.icon }}
                            </mat-icon>
                            <span [ngClass]="isRouteActive(page) ? 'white-color' : 'primary-color'" [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }}</span>
                        </a>
                    </div>
                </mat-nav-list>

            </div>
        </mat-nav-list>
        <span class="spacer"></span>
        <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px">
            <button class="margin primary-border-color" style="background-color: #81003c;" mat-mini-fab (click)="onSinenavToggle()">
            <mat-icon [inline]="true" class="mat-icon-large" *ngIf="sideNavState">arrow_left</mat-icon>
            <mat-icon [inline]="true" class="mat-icon-large" *ngIf="!sideNavState">arrow_right</mat-icon>
          </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open' : 'close'" class="content mat-elevation-z8">
        <div style="width: 100%;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>